body {
    box-sizing: border-box;
    position: fixed;
    padding: 0;
    font-family: 'Overpass Mono',
    monospace;
}

figure .coders {
    outline: 1px solid #0000ff;
    width: 200px;
    height: 200px;
    
}


#title {
    
    font-size: 

}

span {
    outline: 1px solid black;
    position: absolute;
    left: 20px;
    bottom: 30px;
    color: white;
}