body {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Overpass Mono',
    monospace;
}

.coders {
    /*outline: 1px solid #0000ff;*/
    display: inline-block;
    position: relative;
       
}

.coders img {/* foto de las coders*/
    /*outline: 1px solid yellow;*/
    float: left;
    width: 160px;
    height: 160px;
    margin: 15px;
}

.coders span { /*nombres de las coders*/
    /*outline: 1px solid black;*/
    color: #ffffff;
    font-size: 15px;
    font-weight: 800px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

figure { /*contenedor*/
   /* outline: 1px solid green;*/
    margin-top: 20px;
    overflow: auto;
    padding: 0px;
    width: 600px;
    height: 400px;
}

h1 { /*encabezado*/
    font-size: 24px;
    margin-left: 55px;
    margin-bottom: 10px;
}

#line hr { /*linea debajo del encabezado*/
    display: block;
    border: 2px solid rgba(0, 0, 0, 0.932);
    border-style: inset;
    margin-left: 55px;
    margin-right: 780px;


}

